:host {
  display:block;
}
.fixed {
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
}
.outer {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.3);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,.3);
  box-shadow: 0 3px 7px rgba(0,0,0,.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  padding:0 15px;
}

.header, .footer {
  text-align: left;
}

.header {
  margin: 15px 0;
}

.header p {
  font-size: 17.5px;
  line-height: 20px;
  color: inherit;
  float:left;
  margin:0;
}
.close {
  float:right;
  color:#CCCCCC;
  font-size:25px;
}

.close:hover {
  text-decoration: none;
}

.footer {
  margin-bottom:15px;
}

button {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #e6e6e6 #e6e6e6 #b3b3b3;
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}

button:focus, button:hover {
  color: #333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}

button.active, button.disabled, button:active, button:focus, button:hover, button[disabled] {
  color: #333;
  background-color: #e6e6e6;
}

.wrap {
  margin:0 50px;
  width: 180px;
}
.wrap.two-column {
  width: 360px;
}
.wrap.three-column {
  width: 540px;
}
.wrap .modal-header {
  border: none;
}
.wrap .modal-body {
  max-height: 100%;
  padding-bottom: 0;
}
.wrap .modal-footer {
  text-align: left;
  background: transparent;
  border: none;
  margin-top: 0;
}
.backdrop {
  background: rgba(255, 255, 255, 0.8);
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}